h1:not(.site-title):before,
h2:before {
    content: none;
}

main {
    max-width: 1200px;
    margin: auto;
    margin-left: 20px;
    margin-right: 20px;

}

#podcastcontainer {
    display: grid;
    max-width: 1050px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin: auto;
    grid-gap: 1rem;
    margin-top: 20px;
}

img {
    width: 100%;
    /*border: 2px solid black;*/
}

h2 {
    font-size: 2.4rem;
    margin: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

h3 {
    font-size: 1.4rem;
    margin: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

h4 {
    font-size: 1.2rem;
    margin: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

p {
    font-size: 1rem;
    margin: 10px;
    margin-top: 0;
    margin-bottom: 0;
    color: black;
}


a {
    font-size: 1rem;
    margin: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

.afsnitter_indhold {
    /*border: 2px solid black;*/
}

#filtrering {
    margin: auto;
    text-align: center;
}

#site-navigation {
    text-align: left;
}

.podcast_showcase {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.podcast_billede {
    grid-column: 1/2;
}

.podcast_overskrift {
    grid-column: 2/3;
}



#afsnitter {
    display: grid;
    max-width: 1200px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    margin: auto;
    grid-gap: 1rem;
    margin-top: 50px;
    margin-bottom: 50px;
}

.afsnitter_section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    border: 2px solid black;

}

.afsnitter_billede {
    grid-column: 1/2;
}

afsnitter_indhold {
    grid-column: 2/3;
}

.filter {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-family: sofia pro, sans-serif;
    font-size: 1.1rem;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

button:hover {
    text-decoration: underline;
}
