h1:not(.site-title):before,
h2:before {
    content: none;
}

main {
    max-width: 1200px;
    margin: auto;
    /*margin-left: 20px;
    margin-right: 20px;*/

}

#masthead {
    background: #f5f1f0;

}


#hero > div.container > div > a:nth-child(1) {
    margin-top: -270px;
    transform: rotate(0deg);
    font-size: 2rem;
    margin-left: 55px;
    background: #d80e3e;
}


#hero > div.container > div > a:nth-child(1):hover {
    background: #a0092d;
}


#hero > div.container > div > a:nth-child(2) {
    margin-left: 470px;
    margin-top: -15px;
    transform: rotate(-15deg);
    font-size: 2rem;
    background: #d80e3e;
}

#hero > div.container > div > a:nth-child(2):hover {
    background: #a0092d;
}

#footer-widgets {
    background: #f5f1f0;
}



#content {
    background-image: url(img/kupono-kuwamura-LzgK6IMoSZM-unsplash.jpg);
    background-size: cover;
}

#podcastcontainer {
    display: grid;
    max-width: 1050px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin: auto;
    grid-gap: 2rem;
    margin-top: 20px;
}

img {
    width: 100%;
    /* height: 100%;*/
    border: 2px solid black;
}


.custom-logo {
    border: none;
}

#primary {
    padding-bottom: 40px;
    padding-top: 80px;
}

.site-branding .has-logo-img {
    line-height: 5px;
}


.entry-title {
    font-size: 2.6rem;
    margin: 10px;
    margin-top: 0;
    margin-bottom: 20px;
}


h1 .page-header .entry-title {
    font-size: 2.6rem;
    margin: 10px;
    margin-top: 0;
    margin-bottom: 20px;
}

h2 {
    font-size: 2.4rem;
    margin: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

.pod-title {
    font-size: 1.6rem;
    margin: 0;
}

h3 {
    font-size: 1.8rem;
    margin: 10px;
    margin-top: 5px;
    margin-bottom: 10px;;
}

h4 {
    font-size: 1.2rem;
    margin: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

p {
    font-size: 1.3rem;
    margin: 10px;
    margin-top: 0;
    margin-bottom: 50px;;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}


a {
    font-size: 1rem;
    margin: 10px;
    margin-top: 0;
    margin-bottom: 0;
}


.podcast_h2  {
    margin: 0;
    margin-left: 10px;
    margin-top: 10px;
}

.podcast_h3 {
    margin: 0;
    margin-left: 10px;
    font-size: 1.5rem;

}

.podcast_h4 {
    margin: 0;
    margin-left: 10px;

}

.podcast_tekst {
    margin: 0;
    margin-left: 10px;
    font-size: 1rem;
}


.afsnit_h2 {
    margin: 0;
    margin-left: 10px;
}

.afsnit_h3 {
    margin: 0;
    margin-left: 10px;
    font-size: 1.5rem;
}

.afsnit_h4 {
    margin: 0;
    margin-left: 10px;
}

.afsnit_tekst {
    margin: 0;
    margin-left: 10px;
    font-size: 1rem;
}




.afsnitter_indhold {
    border: 2px solid black;
    background: #f5f1f0;
}

#filtrering {
    margin: auto;
    text-align: center;
}

#site-navigation {
    text-align: left;
}

#main > h1 {
    margin-top: 40px;
}

.podcast_showcase {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 40px;
}

.podcast_billede {
    grid-column: 1/2;
}

.podcast_overskrift {
    grid-column: 2/3;
    /*background: #d9d3d3;*/
    border: 2px solid black;
    background: #f5f1f0;
}



#afsnitter {
    display: grid;
    max-width: 1200px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    margin: auto;
    grid-gap: 1rem;
    margin-top: 50px;
    margin-bottom: 50px;
}

.afsnitter_section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    /*    border: 2px solid black;*/

}

.afsnitter_billede {
    grid-column: 1/2;
}

afsnitter_indhold {
    grid-column: 2/3;
}

.episode_filter {
    filter: grayscale(50%);
}


.filter {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-family: sofia pro, sans-serif;
    font-size: 1.3rem;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

button:hover {
    text-decoration: underline;
}

.valgt {
    color: #d80e3e;
    text-decoration: underline;
    border: none;
    outline: none;
}


.afsnit_grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 40px;
}

.afsnit_billede {
    grid-column: 1/2;
}

.enkelt_afsnit_indhold {
    grid-column: 2/3;
    border: 2px solid black;
    background: #f5f1f0;
}

#afsnit > article > div > div.enkelt_afsnit_indhold > button.btn.btn-danger.btn-lg.loud_afspiller {
    font-size: 0.8rem;
    margin: 10px;
}

/*article.afsnitter_section:nth-child(2) > div:nth-child(2) > button:nth-child(5) {
      margin-top 20px;
    margin-left: 155px;
}

.btn .loud_afspiller {
    margin-top 20px;
    margin-left: 155px;
}*/

.streaminglinks {
    text-align: center;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 100px;
}

.btn-danger {
    background: #d80e3e;
    margin-left: 150px;
    margin-top: 40px;
}

.btn-danger:hover {
    background: #a0092d;
}




.page-header.page--cover {
    padding-top: 230px;
    background-position: center 42%;
}


#menu-item-254 > a > img {
    width: 25px;
}


#ub-tabbed-content-6c08bce4-c862-4005-87f4-05568b6e30bb .wp-block-ub-tabbed-content-tab-title-wrap.active, #ub-tabbed-content-6c08bce4-c862-4005-87f4-05568b6e30bb .wp-block-ub-tabbed-content-tab-title-vertical-wrap.active, #ub-tabbed-content-6c08bce4-c862-4005-87f4-05568b6e30bb .wp-block-ub-tabbed-content-accordion-toggle.active

#ub-tabbed-content-1a582d8d-9a07-4a9a-9ddb-18f3a6a2f2d8 .wp-block-ub-tabbed-content-tab-title-wrap.active, #ub-tabbed-content-1a582d8d-9a07-4a9a-9ddb-18f3a6a2f2d8 .wp-block-ub-tabbed-content-tab-title-vertical-wrap.active, #ub-tabbed-content-1a582d8d-9a07-4a9a-9ddb-18f3a6a2f2d8 .wp-block-ub-tabbed-content-accordion-toggle.active {
    border-color: #d80e3e;
}


#ub-tabbed-content-1a582d8d-9a07-4a9a-9ddb-18f3a6a2f2d8 .wp-block-ub-tabbed-content-tab-title-wrap {
    border-color: #d80e3e;
}

/*#ub-tabbed-content-1a582d8d-9a07-4a9a-9ddb-18f3a6a2f2d8-tab-0 > div {
    font-size: 1rem;
}*/

body, button, input, select, textarea {
    font-size: 1.5rem;
}

.has-medium-font-size {
    font-size: 1.2rem;
}

.wp-block-media-text .wp-block-media-text__content {
    padding: 0 2%;
}

.wp-block-media-text__media img, .wp-block-media-text__media video {
    width: 80%;

}

#ub-tabbed-content-1a582d8d-9a07-4a9a-9ddb-18f3a6a2f2d8-panel-6 > div {
    margin-bottom: 10px;
}



#ub-tabbed-content-1a582d8d-9a07-4a9a-9ddb-18f3a6a2f2d8-panel-5 > div {
    margin-bottom: 10px;
}

#ub-tabbed-content-1a582d8d-9a07-4a9a-9ddb-18f3a6a2f2d8-panel-4 > div {
    margin-bottom: 10px;
}


#ub-tabbed-content-1a582d8d-9a07-4a9a-9ddb-18f3a6a2f2d8-panel-3 > div {
    margin-bottom: 10px;

}


#ub-tabbed-content-1a582d8d-9a07-4a9a-9ddb-18f3a6a2f2d8-panel-2 > div {
     margin-bottom: 10px;
}


#ub-tabbed-content-1a582d8d-9a07-4a9a-9ddb-18f3a6a2f2d8-panel-0 > div {
    margin-bottom: 10px;
}




.wp-block-ub-tabbed-content-tabs-content {
    margin-right: 100px;
    margin-left: 100px;
    background: #f5f1f0;
    border: 1px solid #d80e3e;
}

.site-footer .footer-connect {
    padding: 2rem 0;
}

.sidebar .widget ul {
    text-align: center;
}

.sidebar .widget a {
    font-size: 20px;
}


h5 {
    font-size: 19px;
}

.footer-widgets.section-padding {
    padding: 2.375rem 0px 0.1875rem;
}

.site-footer .footer-connect {
    padding: 2.375rem 0;
}
