html {
    scroll-behavior: smooth;
}


h1:not(.site-title):before,
h2:before {
    content: none;
}

main {
    max-width: 1200px;
    margin: auto;
    margin-bottom: 100px;
}

#masthead {
    background: #f5f1f0;
    padding-top: 10px;
}

.onepress-menu a {
    font-size: 17px;
}

#hero > div.container > div > a:nth-child(1) {
    margin-top: -270px;
    transform: rotate(0deg);
    font-size: 2rem;
    margin-left: 55px;
    background: #d80e3e;
}


#hero > div.container > div > a:nth-child(1):hover {
    background: #a0092d;
}


#hero > div.container > div > a:nth-child(2) {
    margin-left: 470px;
    margin-top: -15px;
    transform: rotate(-15deg);
    font-size: 2rem;
    background: #d80e3e;
}

#hero > div.container > div > a:nth-child(2):hover {
    background: #a0092d;
}

#footer-widgets {
    background: #f5f1f0;
}

#content {
    background-image: url(img/kupono-kuwamura-LzgK6IMoSZM-unsplash.jpg);
    background-size: cover;

}

#content img {
    width: 100%;
}

.cursor {
    cursor: pointer;
}

#podcastcontainer {
    display: grid;
    max-width: 1200px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    margin: auto;
    grid-gap: 2rem;
    margin-top: 20px;
}

#podcastcontainernye {
    display: grid;
    max-width: 1200px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    margin: auto;
    grid-gap: 2rem;
    margin-top: 20px;
}

img {
    width: 100%;
    /* height: 100%;*/
    /*border: 2px solid black;*/
}

.custom-logo {
    border: none;
}

#primary {
    padding-bottom: 40px;
    padding-top: 0px;
}

.site-branding .has-logo-img {
    line-height: 5px;
}


.entry-title {
    font-size: 2.6rem;
    margin: 10px;
    margin-top: 0;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px
}


h1 .page-header .entry-title {
    font-size: 2.6rem;
    margin: 10px;
    margin-top: 0;
    margin-bottom: 20px;
}

h2 {
    font-size: 2.4rem;
    margin: 10px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-size: 1.8rem;
    margin: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    ;
    font-family: 'Roboto', sans-serif;
}

h4 {
    font-size: 1.2rem;
    margin: 10px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
}

p {
    font-size: 1.3rem;
    margin: 10px;
    margin-top: 0;
    margin-bottom: 50px;
    ;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}


a {
    font-size: 1rem;
    margin: 10px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20px;
}

.podcast_h2 {
    margin: 0;
    margin-left: 20px;
    margin-top: 60px;
}

.pod-title {
    font-size: 1.6rem;
    margin: 0;
    margin-left: 0px;
    margin-top: 20px;
}

.podcast_h3 {
    margin: 0;
    margin-left: 10px;
    font-size: 1.5rem;
}

.podcast_h4 {
    margin: 0;
    margin-left: 10px;
}

.podcast_tekst {
    margin: 0;
    font-size: 1rem;
    margin-left: 20px;
    margin-right: 20px;
}

.afsnit_h2 {
    margin: 0;
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
    margin-left: 20px;
}

.afsnit_h3 {
    margin: 0;
    margin-left: 20px;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
    margin-bottom: 25px;
}

.afsnit_h3_2 {
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 20px;
}

.afsnit_h4 {
    margin: 0;
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
    margin-left: 20px;
}

.afsnit_tekst {
    margin: 0;
    margin-left: 10px;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    margin-left: 20px;
}

.afsnitter_indhold {
    border: 2px solid black;
    background: #f5f1f0;
}

#filtrering {
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
}

#site-navigation {
    text-align: left;
}

#main > h1 {
    margin-top: 40px;
}

.podcast_showcase {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 40px;
}

.podcast_billede {
    grid-column: 1/2;
}

.podcast_overskrift {
    grid-column: 2/3;
    /*background: #d9d3d3;*/
    border: 2px solid black;
    background: #f5f1f0;
}

#afsnitter {
    display: grid;
    max-width: 1200px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    margin: auto;
    grid-gap: 1rem;
    margin-top: 50px;
    margin-bottom: 50px;
}

.afsnitter_section {
    display: grid;
    grid-template-columns: 1fr 2fr;
}


.afsnitter_billede {
    grid-column: 1/2;
}

afsnitter_indhold {
    grid-column: 2/3;
}

.grid_for_info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 20px;
}

.column_1 {
    grid-template-columns: 1/2;
}

.column_2 {
    grid-template-columns: 2/3;
}

.varighed {
    text-align: center;
    margin-left: 0;
}

.column_3 {
    grid-template-columns: 3/4;
}

.dato {
    text-align: right;
    margin-right: 20px;
}

.episode_filter {
    filter: grayscale(50%);
}

.filter {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-family: sofia pro, sans-serif;
    font-size: 1.266rem;
    border: none;
    cursor: pointer;
    background-color: transparent;
    letter-spacing: 1px;
}

button:hover {
    text-decoration: underline;
}

.valgt {
    color: #d80e3e;
    text-decoration: underline;
    border: none;
    outline: none;
}

.afsnit_grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 40px;
}

.afsnit_billede {
    grid-column: 1/2;
}

.enkelt_afsnit_indhold {
    grid-column: 2/3;
    border: 2px solid black;
    background: #f5f1f0;
}

#afsnit > article > div > div.enkelt_afsnit_indhold > button.btn.btn-danger.btn-lg.loud_afspiller {
    font-size: 0.8rem;
    margin: 10px;
    margin-left: 20px;
}

.streaminglinks {
    text-align: center;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 100px;
}

.podcast_grid {
    margin: 0;
    margin-top: 160px;
    margin-bottom: 40px;
}

.btn-danger {
    background: #d80e3e;
    margin-left: 150px;
    margin-top: 0px;
}

.btn-danger:hover {
    background: #a0092d;
}

.page-header.page--cover {
    padding-top: 230px;
    background-position: center 42%;
}

#menu-item-254 > a > img {
    width: 25px;
}

#ub-tabbed-content-6c08bce4-c862-4005-87f4-05568b6e30bb .wp-block-ub-tabbed-content-tab-title-wrap.active,
#ub-tabbed-content-6c08bce4-c862-4005-87f4-05568b6e30bb .wp-block-ub-tabbed-content-tab-title-vertical-wrap.active,
#ub-tabbed-content-6c08bce4-c862-4005-87f4-05568b6e30bb .wp-block-ub-tabbed-content-accordion-toggle.active #ub-tabbed-content-1a582d8d-9a07-4a9a-9ddb-18f3a6a2f2d8 .wp-block-ub-tabbed-content-tab-title-wrap.active,
#ub-tabbed-content-1a582d8d-9a07-4a9a-9ddb-18f3a6a2f2d8 .wp-block-ub-tabbed-content-tab-title-vertical-wrap.active,
#ub-tabbed-content-1a582d8d-9a07-4a9a-9ddb-18f3a6a2f2d8 .wp-block-ub-tabbed-content-accordion-toggle.active {
    border-color: #d80e3e;
}

#ub-tabbed-content-1a582d8d-9a07-4a9a-9ddb-18f3a6a2f2d8 .wp-block-ub-tabbed-content-tab-title-wrap {
    border-color: #d80e3e;
}

#ub-tabbed-content-8df74d2e-dcec-400e-bca2-a32069f6452f .wp-block-ub-tabbed-content-tab-title-wrap.active, #ub-tabbed-content-8df74d2e-dcec-400e-bca2-a32069f6452f .wp-block-ub-tabbed-content-tab-title-vertical-wrap.active, #ub-tabbed-content-8df74d2e-dcec-400e-bca2-a32069f6452f .wp-block-ub-tabbed-content-accordion-toggle.active {
    border-color: #d80e3e !important;
}

body,
button,
input,
select,
textarea {
    font-size: 1.5rem;
}

.has-medium-font-size {
    font-size: 1.2rem;
}

.wp-block-media-text .wp-block-media-text__content {
    padding: 0 2%;
}

.wp-block-media-text__media img,
.wp-block-media-text__media video {
    width: 80%;

}

#ub-tabbed-content-1a582d8d-9a07-4a9a-9ddb-18f3a6a2f2d8-panel-6 > div {
    margin-bottom: 10px;
}

#ub-tabbed-content-1a582d8d-9a07-4a9a-9ddb-18f3a6a2f2d8-panel-5 > div {
    margin-bottom: 10px;
}

#ub-tabbed-content-1a582d8d-9a07-4a9a-9ddb-18f3a6a2f2d8-panel-4 > div {
    margin-bottom: 10px;
}

#ub-tabbed-content-1a582d8d-9a07-4a9a-9ddb-18f3a6a2f2d8-panel-3 > div {
    margin-bottom: 10px;
}

#ub-tabbed-content-1a582d8d-9a07-4a9a-9ddb-18f3a6a2f2d8-panel-2 > div {
    margin-bottom: 10px;
}

#ub-tabbed-content-1a582d8d-9a07-4a9a-9ddb-18f3a6a2f2d8-panel-0 > div {
    margin-bottom: 10px;
}

.wp-block-ub-tabbed-content-tabs-content {
    margin-right: 100px;
    margin-left: 100px;
    background: #f5f1f0;
    border: 1px solid #d80e3e;
}

.site-footer .footer-connect {
    padding: 2rem 0;
}

.sidebar .widget ul {
    text-align: center;
}

.sidebar .widget a {
    font-size: 20px;
}

h5 {
    font-size: 19px;
}

.footer-widgets.section-padding {
    padding: 2.375rem 0px 0.1875rem;
}

.site-footer .footer-connect {
    padding: 2.375rem 0;
}

.page-header.page--cover:before {
    background: none;
}


#ub-tabbed-content-3d5d4584-1cdc-4fb6-9f9b-55ff380017d9 .wp-block-ub-tabbed-content-tab-title-wrap.active,
#ub-tabbed-content-3d5d4584-1cdc-4fb6-9f9b-55ff380017d9 .wp-block-ub-tabbed-content-tab-title-vertical-wrap.active,
#ub-tabbed-content-3d5d4584-1cdc-4fb6-9f9b-55ff380017d9 .wp-block-ub-tabbed-content-accordion-toggle.active {
    background-color: #f5f1f0;
    border-color: #d80e3e;
    color: #d80e3e;
}

.onepress-menu ul {
    position: absolute;
    display: none;
    top: 70%;
    left: 0px;
    z-index: 99;
}

/*******************************************Ipad Media*************************************************************************************/




@media (max-width: 768px) {


    /*forside knapper*/

    #hero > div.container > div > a:nth-child(1) {
        margin-top: -70px;
        font-size: 1.5rem;
        margin-left: 0;
        margin-right: 400px;
    }


    #hero > div.container > div > a:nth-child(2) {
        margin-left: 400px;
        margin-top: -10px;
        font-size: 1.5rem;
    }

    /*footer*/

    .sidebar .widget a {
        font-size: 15px;
    }

    h5 {
        font-size: 15px;
    }

    .site-footer .footer-connect {
        padding: 2.375rem 0;
        padding-top: 0;
    }


    /*podcast side*/

    .filter {
        font-size: 0.75rem;

    }

    #primary {
        padding-bottom: 20px;
        padding-top: 20px;
    }

    #podcastcontainer {
        display: grid;
        max-width: 680px;
        grid-template-columns: repeat(auto-fill, minmax(206px, 1fr));
        margin: auto;
    }


    .pod-title {
        font-size: 1.4rem;

        margin-top: 10px;
    }

    #podcastcontainernye {
        display: grid;
        max-width: 1200px;
        grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
        margin: auto;
        grid-gap: 2rem;
        margin-top: 20px;
    }


    /*Enkelt podcast side*/

    .entry-title {
        font-size: 2.2rem;

    }

    h2 {
        font-size: 1.8rem;

    }

    h3 {
        font-size: 1.6rem;
    }

    .podcast_showcase {
        display: grid;
        grid-template-columns: 1fr 2fr;

        max-width: 680px;
        margin: auto;
        margin-top: 30px;
    }

    .podcast_h2 {
        margin: 0;
        /*margin-left: 15px;*/
        margin-top: 15px;
    }

    .podcast_h2_pod {
        margin: 0;
        margin-left: 15px;
        margin-top: 15px;
    }

    .podcast_grid_pod {
        margin: 0;
        margin-left: 15px;
        margin-top: 15px;
    }

    .podcast_tekst {
        margin: 0;
        font-size: 1rem;
        margin-left: 15px;
        margin-right: 15px;
    }

    .afsnitter_section {
        display: grid;
        grid-template-columns: 1fr 2fr;
        max-width: 680px;
        margin: auto;
    }

    .podcast_grid {
        margin: 0;
        margin-top: 100px;
        margin-bottom: 40px;
        /*margin-left: 40px;*/
    }


    /*Enkelt episode*/

    .afsnit_grid {
        display: grid;
        grid-template-columns: 1fr 2fr;
        margin-top: 15px;
        max-width: 680px;
        margin: auto;
    }

    .afsnitter_section {
        display: grid;
        grid-template-columns: 1fr 3fr;
        max-width: 680px;
        margin: auto;
    }

    .btn-danger {
        margin-left: 290px;

    }

    #afsnitter {
        display: grid;
        max-width: 680px;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        margin: auto;

    }


    .afsnit_h2 {
        margin-top: 15px;
        margin-left: 15px;
    }

    .afsnit_h3_2 {
        margin-top: 15px;
        margin-bottom: 0px;
        margin-left: 15px;
    }

    .afsnit_tekst {
        margin: 0;
        margin-left: 10px;
        font-size: 1rem;
        font-family: 'Roboto', sans-serif;
        margin-left: 20px;
        margin-right: 20px;
    }

    .grid_for_info {
        display: block;

    }

    .varighed {
        text-align: left;

    }

    .dato {
        text-align: left;

    }


    /*Loud online*/

    h3 {
        font-size: 1.6rem;

    }

    p {
        font-size: 1rem;
        margin-bottom: 30px;

    }

    /*sendeplan*/
    .wp-block-ub-tabbed-content-holder.wp-block-ub-tabbed-content-horizontal-holder-tablet > .wp-block-ub-tabbed-content-tabs-content {
        width: 91%;
        margin: auto;
    }

}


/***************************************************Mobil media*****************************************************************************/


@media (max-width: 376px) {

    /*forside*/


    /*podcastsss*/

    #content {
        background-image: url(img/kupono-kuwamura-LzgK6IMoSZM-unsplash.jpg);
        background-size: contain;
    }

    /* #podcastcontainernye {
        display: grid;
        max-width: 1200px;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        margin: auto;
        grid-gap: 2rem;
        margin-top: 20px;
    }

    #podcastcontainer {
        display: grid;
        max-width: 1200px;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        margin: auto;
        grid-gap: 2rem;
        margin-top: 20px;
    }*/

    #filtrering {
        margin: auto;
        text-align: center;
        margin-bottom: 10px;
        width: 50%;
    }

    /*enkelt podcast*/

    .afsnitter_section {
        display: block;
        max-width: 295px;
        margin: auto;
    }

    .btn-danger {
        margin-left: 180px;
        margin-bottom: 10px;
    }

    .afsnit_grid {
        display: block;
        /* grid-template-columns: 1fr 2fr; */
        margin-top: 15px;
        max-width: 295px;
        margin: auto;
    }

    .afsnit_h2 {
        margin-left: 20px;
    }

    .afsnit_h3_2 {
        margin-left: 20px;
    }

    /*sendeplan*/

    .wp-block-ub-tabbed-content-holder.wp-block-ub-tabbed-content-horizontal-holder-tablet > .wp-block-ub-tabbed-content-tabs-content {
        width: 80%;
        margin: auto;
        margin-left: -5px;
        text-align: center;
    }
}
